h1{
    color: brown;
}
.fruits-container li{
    color: darkgreen;
}
#fruits-title{
    color: black;
}
.important-places{
    color: blueviolet;
}
.text-center {
    text-align: center;
}
.large-text {
    font-size: 2em;
}